body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    background-image: url("../img/winner/mphone.jpg");
    background-repeat: repeat-y;
    background-position: center;
}

#wrapper {
    width: 1024px;
    min-height: 768px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#wrapper-phone {
    width: 180px;
    height: 346px;
    position: absolute;
    background-image: url("../img/winner/bg_phone.png");
    top: 10%;
    right: 5%;
    z-index: 11;
}

#wrapper-phone > ul {
    list-style: none;
    padding: 0;
    margin: 45px 9px 0 12px;
    text-align: center;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
}

#wrapper-phone > ul > li {
    line-height: 28px;
    height: 28px;
    background-color: #ccc;
    margin-bottom: 1px;
    color: #fff;
}

#wrapper-phone > ul > li.top1 {
    background-color: #dd2001;
    font-size: 18px;
}

#wrapper-phone > ul > li.top2 {
    background-color: #ffae01;
    font-size: 16px;
}

#wrapper-phone > ul > li.top3 {
    background-color: #fedd02;
    font-size: 14px;
}

#wrapper-phone > ul > li.top4 {
    background-color: #fff;
    color: #999;
    font-size: 12px;
}

#wrapper-phone > ul > li.top5 {
    background-color: #fff;
    color: #ccc;
    font-size: 10px;
}

#wrapper-winner {
    position: absolute;
    background-color: #ffae01;
    width: 775px;
    min-height: 356px;
    top: 165px;
    right: 200px;
    border-radius: 10px 0 10px 10px;
    z-index: 10;
}

#wrapper-winner ul {
    padding: 0;
    margin: 15px 10px;
    list-style: none;
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bold;
    color: #fff;
    line-height: 32px;
}

#wrapper-winner ul li {
    float: left;
    width: 186px;
}

#wrapper-winner i {
    position: absolute;
    background-image: url("../img/winner/txt_winter.png");
    width: 60px;
    height: 50px;
    top: -11px;
    left: -14px;
    background-repeat: no-repeat;
}

#wrapper-prize {
    position: absolute;
    top: 43px;
    width: 186px;
    background-color: #ffae01;
    height: 80px;
    right: 200px;
    border-radius: 10px;
    padding: 10px 50px 10px 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
}